#Ignore node modules folder
node_modules/

#Ignore all yaml files
*.yaml

#Ignore all exe files
*.exe

#Ignore crypto material folder
crypto-config/*

#Ignore content in channel-artifacts folder
/channel-artifacts/*.tx
/channel-artifacts/*.block
/channel-artifacts/*.json

#Ignore binaries 
bin/

